/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #1E1D21;
}

body.modal-open {
  overflow: hidden;
}


/* Header Styles */
.header {
  background-color: #1E1D21;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

header.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

header.visible {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-links span{
  list-style: none;
  display: flex;
  gap: 2rem;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.nav-links li {
  min-width: 60px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  bottom: -27px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after, .nav-links li a.active::after {
  width: 100%; /* Expand the underline to full width on hover */
}

.nav-links li a:hover, .nav-links li a.active::after {
  font-weight: bold;
}

.hero {
  width: 100vw;
  aspect-ratio: 8 / 5;
  max-height: 100vh;
  color: white;
  overflow: hidden;
  background: url('./assets/web.jpg') no-repeat center center;
  background-size: 100% auto;
}

.hero-content {
  margin-top: 19vh;
  margin-left: 5vw;
}

.hero-content p {
  font-size: 26px;
  width: 420px;
  margin-top: 20px;
}

.main-content {
  position: relative;
  padding: 80px 2rem 20px 2rem;
  text-align: center;
}

.info-box {
  z-index: -2;
  background-color: #1E1D21;
  color: white;
  padding: 80px 32px 32px 32px;
  max-width: 800px;
  margin: -40px auto 0; 
  transform: rotate(-4deg);
  position: relative;
  overflow: hidden;
}

.info-text {
  transform: rotate(4deg);
  text-align: left;
  padding: 15px 10px 0 10px;
}

.info-box h2 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 22px;
  font-weight: bold;
}

.info-box p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 24px;
}

.features-block, .partners {
  margin: 40px 40px 60px 40px;
}

.features-block h2, .partners h2 {
  font-size: 40px;
  margin: 20px 0;
  text-align: left;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  gap: 20px;
}

.feature-item:nth-child(n+4) {
  grid-column: span 1;
}

.feature-item:nth-child(4),:nth-child(5),:nth-child(6),:nth-child(7) {
  grid-column-start: 1;
}

.feature-item {
  text-align: left;
}

.feature-item .icon {
  display: block;
  margin-bottom: 1rem;
}

.feature-item h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -10px;
}

.feature-item p {
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 1rem;
  line-height: 1.5;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-container {
  overflow: hidden; /* Hide extra images */
  white-space: nowrap;
}

.carousel:nth-child(2){
  display: none;
}

.carousel {
  display: inline-block;
  transition: transform 0.5s ease-in-out; /* Smooth slide effect */
}

.carousel img {
  height: 174.2px;;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem 4rem;
  text-align: left;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-content h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

address a {
  margin-bottom: 0.5rem;
  color: #fff;
  line-height: 1.4;
}

address {
  font-size: 14px;
  font-style: normal;
}

@media (max-width: 1180px) {
  .hero-content p {
    font-size: 22px;
    width: 375px;
  }

  .hero-content {
    margin-top: 13vh;
  }

  .info-box {
    width: 80vw;
    margin: -40px auto 0;
  }

  .info-box h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .main-content {
    padding: 40px 28px 0px 28px;
  }

  .features {
    grid-template-columns: repeat(2,  minmax(260px, 1fr));
    column-gap: 30px;
    row-gap: 16px;
  }
  .feature-item {
    justify-self: center;
    text-align: center;
    max-width: 352px;
  }

  .feature-item:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }

  .features-block, .partners {
    margin: 40px 0;
  }

  .features-block h2, .partners h2 {
    font-size: 36px;
    text-align: center;
  }
}

.hero-content img {
    width: 45vw;
    max-width: 700px;
    min-width: 300px;
}

@media (max-width: 1400px) {
  .carousel img {
    height: 150px;;
  }
}

@media (max-width: 1230px) {
  .carousel img {
    height: 122px;;
  }
}

@media (max-width: 961px) {
  .carousel:nth-child(2){
    display: inline-block;
  }

  .carousel-container {
    max-width: 80vw;
    margin: auto;
  }

  .carousel {
    animation: 15s slide infinite linear;
  }

  .carousel-container:hover .carousel {
    animation-play-state: paused;
  }
}

@media (max-width: 768px) {
  .nav-links span{
    display: none;
  }

  .nav-links {
    justify-content: flex-end;
  }

  .hero {
    aspect-ratio: 128 / 85;
    background: url('./assets/tablet.jpg') no-repeat center center;
    background-size: 100% auto;
  }

  .hero-content p {
    font-size: 22px;
    width: 345px;
    margin-top: 10px;
  }

  .contact-info {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-content h3 {
    margin-bottom: 12px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero-content img {
    min-width: 250px;
  }

  .navbar {
    gap: 30px;
  }

  .hero {
    aspect-ratio: 375 / 298;
    background: url('./assets/mob.jpg') no-repeat center center;
    background-size: 100% auto;
  }

  .hero-content {
    margin-top: 10vh;
  }

  .hero-content p {
    font-size: 16px;
    line-height: 24px;
    width: 270px;
    margin-top: 0px;
  }

  .main-content {
    padding: 0px 28px 0px 28px;
  }

  .features {
    row-gap: 16px;
    grid-template-columns: 1fr;
  }

  .features-block {
    margin-bottom: 15px;
  }
  .partners {
    margin-top: 0;
  }

  .feature-item h3 {
    margin-top: -10px;
    margin-bottom: 5px;
  }

  .feature-item:nth-child(3) {
    grid-column: 1;
  }

  .info-box {
    width: 100vw;
    padding: 80px 18px 32px 18px;
    transform: none;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  }

  .info-box h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .info-box p {
    font-size: 14px;
    line-height: 20px;
  }

  .info-text {
    transform: none;
    font-size: 14px;
  }

  footer {
    padding: 28px;
  }

  address {
    font-size: 12px;
    line-height: 18px;
  }

  address h4 {
    font-size: 14px;
  }

  .modal__content {
    padding: 0 1rem !important;
  }
}

@media (max-width: 380px) {
  .hero-content {
    margin-top: 5vh;
  }

  .hero-content img {
    min-width: 200px;
  }

  .hero-content p {
    font-size: 14px;
    line-height: 21px;
    width: 235px;
  }
}

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.btn {
  min-width: 180px;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
  background-color: #fff;
  color: rgba(0,0,0,.8);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.btn_dark {
  background-color: #2A2A2B;
  color: #fff;
}

.btn_header {
  border: 1px solid #fff;
  padding: 8px 23px;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal__footer {
  text-align: center;
}

.submit__text {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 20px;
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
  z-index: 2;
}


/* ---------- Modal Overlay & Container ---------- */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.modal__container {
  background: #111;    
  color: #fff;
  border-radius: 14px;
  max-width: 500px;
  max-height: 80vh;
  width: 100%;
  box-shadow: 0 12px 40px rgba(0,0,0,0.6);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 2rem 2rem;
  margin-top: 20px;
}

/* ---------- Header & Title ---------- */
.modal__header {
  padding: 40px 1rem 1rem 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 3;
}

.modal__title {
  max-width: 450px;
  line-height: 32px;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.modal__close {
  position: absolute;
  right: -5px;
  top: 15px;
  background: none;
  border: none;
  color: #ccc;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s;
}

.modal__close:before { content: "\2715"; }

.modal__close:hover {
  color: #fff;
}

/* ---------- Main Content & Form ---------- */
.modal__content {
  padding: 0 3rem;
}

.form-card {
  display: flex;
  flex-direction: column;
}

.modal__input_box {
  margin-bottom: 12px;
}

.modal__input_box label {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 4px;
}

/* ---------- Inputs & Selects & Textarea ---------- */
.modal__input,
.modal__select,
.form-card textarea {
  color-scheme: dark;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #323135;
  color: #ADADAD;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.modal__input:focus,
.modal__select:focus,
.form-card textarea:focus {
  outline: none;
  border: 1px solid #D1D5DB;
}

/* for custom arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.iti {
  width: 100%;
  color: black;
}

.iti__search-input {
  height: 40px;
}

.iti__selected-dial-code {
  color: #fff;
}

.form-card textarea {
  min-height: 120px;
  resize: vertical;
}

/* ---------- Checkbox ---------- */
.checkbox-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ADADAD;
  margin-bottom: 20px;
  line-height: 20px;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 0.6rem;
  accent-color: #ADADAD;
}

.success__message {
  display: none;
  text-align: center;
  color: #FFF;
  font-size: 26px;
  line-height: 33px;
  font-weight: 700;
  padding: 42px 32px 32px;
}

.success__message svg {
  margin-top: 30px;
}


